.login .form-field{
    width: 600px;
    box-shadow: -5px 10px 50px rgb(244, 244, 244);
    padding: 50px 30px;
    border-radius: 15px;
}
.login .form-field h3{
    color: var(--color_dark)
}
.login .form-field span{
    color: red;
}
.login img{
    height: 100vh;
}
.switchLogin{
    cursor: pointer;
}
