:root {
  --color_dark: #3A4256;
  --color_primary: #19D3AE;
  --color_secondary: #0FCFEC;
  /* --main_rgb_color:rgb(25, 211, 174); */
  --main_rgb_color: linear-gradient(to right, #19D3AE, #0FCFEC);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}